<button class="btn btn-primary m-2" [routerLink]="['d3']">D3</button>
<button class="btn btn-primary m-2" [routerLink]="['image-chart']">Image Chart</button>
<button class="btn btn-primary m-2" [routerLink]="['multi-parent']">Multi Parent</button>
<button class="btn btn-primary m-2" [routerLink]="['parent']">Parent</button>
<button class="btn btn-primary m-2" [routerLink]="['ng-multi-parent']">Ng Multi Parent</button>
<button class="btn btn-primary m-2" [routerLink]="['new-d3']">New D3</button>

<router-outlet></router-outlet>